{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="min-h-screen flex items-center justify-center bg-gray-100">
        <div class="bg-white p-8 rounded-lg shadow-lg relative z-50">
            <h1 class="text-2xl font-bold mb-4 text-center">✨Bienvenue sur ForumPlanner✨</h1>
            <p class="text-gray-700 text-center">N'hésitez pas à vous inscrire !</p>
            <div class="relative flex justify-center gap-4 mt-8">
                <a href="{{ path('app_login') }}" class="bg-gray-100 text-gray-900 cursor-pointer px-4 py-2 rounded-lg shadow hover:bg-gray-200 transition duration-300">Connexion</a>
                <a href="{{ path('app_register') }}" class="bg-gray-100 text-gray-900 cursor-pointer px-4 py-2 rounded-lg shadow hover:bg-gray-200 transition duration-300">Inscription</a>
                <a href="{{ path('app_profilesecurity')}}" class="bg-gray-100 text-gray-900 cursor-pointer px-4 py-2 rounded-lg shadow hover:bg-gray-200 transition duration-300">Profil</a>
            </div>
        </div>
    </div>
{% endblock %}